TASKS_MANAGER_DATABASE_USER: TASKS_MANAGER_DATABASE_USER
TASKS_MANAGER_DATABASE_PASSWORD: TASKS_MANAGER_DATABASE_PASSWORD
TASKS_MANAGER_DATABASE_NAME: TASKS_MANAGER_DATABASE_PASSWORD
TASKS_MANAGER_TEST_DATABASE_NAME: TASKS_MANAGER_DATABASE_PASSWORD
TASKS_MANAGER_PRODUCTION_DATABASE_NAME: TASKS_MANAGER_DATABASE_PASSWORD
